<div class="checkout-wrapper">

<div class="form-wrapper">
	<div class="row">  
		<div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1">


				<form stripe-form="stripeCallback" name="checkoutForm">
				
				<div class="col-lg-12 col-md-12">	
					<input ng-model="name" placeholder="Name" class="billinginfo-form"/>
				</div>
					
				<div class="col-lg-6 col-md-6">	
				    <input ng-model="number" placeholder="Card Number" 
				             payments-format="card" payments-validate="card" name="card" class="billinginfo-form" />
				</div>
				<div class="col-lg-4 col-md-4">             
				    <input ng-model="expiry" placeholder="Expiration" 
				             payments-format="expiry" payments-validate="expiry"                
				             name="expiry" class="billinginfo-form"/>
				</div>
				<div class="col-lg-2 col-md-2">             
				    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" class="billinginfo-form"/>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12">
					    <button class="checkout-submit-payment" type="submit">Submit payment</button>
					</div>
				</div>

				</form> 

				<div ng-if="checkoutForm.card.$invalid">
					Error: invalid card number!
				</div>
		</div>
	</div>
</div>
					


</row>
</div>