<div class="product-view">
	<!-- Ingen ng-repeat når det bare er ett objekt -->
	<h2>{{showProductData.title}} </h2>
				
	<h4>	{{ showProductData.description }} </h4>
	<p> Colors available <strong>{{showProductData.color}}</strong> </p>
	<p>	Price <strong>{{ showProductData.price }} NOK </strong> </p>
	<p>	In stock <strong>{{ showProductData.itemsInStock }} </strong> </p>
	<p>	Retailer <strong>{{ showProductData.retailer.retailerName }} </strong> </p>
	<p>	Category <strong>{{ showProductData.category.categoryName }} </strong> </p>

	<br>


	<div ui-view> </div>

	<!-- Har med hele car-viewet her slik at når det klikkes, så slider carten inn -->
	<div ng-controller="cartsliderCtrl">	
		<div class="bagicon"  ng-click="showRight($event)">
			<cart visible="rightVisible" alignment="right">
				<ngcart-cart></ngcart-cart>
				<ngcart-checkout service="http" settings="{ url:'/checkout' }"> Checkout </ngcart-checkout>
			</cart>
			
			<!-- Her er selve addingen av item -->
			<ngcart-addtocart id="{{ showProductData._id }}" name="{{showProductData.title}}" price="{{showProductData.price}}"> Add to cart </ngcart-addtocart>	
			
	
		</div>
	</div>


</div>