@font-face { font-family: Avenir; src: url('../fonts/Avenir.ttc'); } 
@font-face { font-family: DroidSerif; src: url('../fonts/DroidSerif.ttf'); } 

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
	font-family: 'Avenir';
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: scroll;

}
.container{
	height: 100%;
}




.big-image img {
	max-width: 100%;
	position: absolute;
	z-index: -10;
}


/*H E A D E R*/

header {
	background-color: #fff;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	color: #3b3b3b;
	height: 75px;
	opacity: 1;
	background-color: #f6f9f9;
}
.logoicon img{
	float: left;
	margin-top: 30px;
	margin-left: 50px;
	width: 60px;
}
	

.searchbox-header {
	margin-top: 20px;
	text-align: center;
}

.search-input {
	font-size: 16px;
	background: #fff;
	border: solid;
	border-color: #fff;
	border-width: 1px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
}

.search-btn {
	font-size: 16px;
	background: #fff;
	border: solid;
	border-color: #fff;
	border-width: 1px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
}



/*dropdownmenu*/
.cbp-hrmenu {
	width: 100%;
	margin-top: 0em;
	border-bottom: 0px solid #3b3b3b;
	opacity: 0.9;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 120em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 600;
	text-decoration: none;
	padding: 0.7em 2em;
	color: #3b3b3b;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #3b3b3b;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: #3b3b3b;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #3b3b3b;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: #50dbe7;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 1px solid #3b3b3b;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}



/*---------------------*/



/*L A N D I N G P A G E*/

.landingpage-wrapper {
	width: 100%;
}

.landingpage-placeholder {
	width: 100%;
	
	background-image: url('img/skybg.jpg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	font-size: 50px;
	color: #fff;
	text-align: center;
	padding: 250px 20px 300px 20px;

}

.landingpage-logo {
	text-align: center;
	width: 11%;
	margin-top: -170px;
}

.landingpage-quote{
	font-family: 'DroidSerif';
	color: #4c4c54;
	word-spacing: 16px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 120px;

}

.shopnow-btn{
	font-size: 30px;
	text-align: center;
	padding: 17px 50px 15px 50px;
	border: 5px solid #fff;
	background: none;
	font-weight: 500;
	pointer: cursor;
}

.shopnow-btn:hover{
	background: #66d9aa;
	border-color: #66d9aa;
}

/*.buttoncart-productid{
	background-color: #66d9aa;
	text-decoration: none;
	color: #fff;
	border-color: #66d9aa;

}*/

.featured-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured1 {
	width: 55%;
	background: #f5f8f8;
	font-size: 20px;
	color: #3b3b3b;
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 70px 20px 70px 20px;
}

.featured2 {
	width: 40%;
	background: #f5f8f8;
	font-size: 20px;
	color: #3b3b3b;
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 70px 20px 70px 20px;
}

/*---------------------*/

.cardwrapper {
	display: flex;
	flex-wrap: wrap;
}


/*C A T E G O R Y C A R D*/


.category-card{
	width: 200px;
	text-align: center;
	background: #f5f8f8;
	margin: 20px 20px 20px 20px;
	padding: 70px 20px 70px 20px; 
}


/*P R O D U C T C A R  I D*/


.product-card{
	width: 300px;
	height: 400px;
	background: none;
	border: 1px solid #e5e8e8;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px; 

}

.productcard-title{
	margin-top: -16px;
	text-align: left;
	font-weight: 500;
	font-size: 15px;
}

.productcard-price{

	text-align: left;
	font-weight: 200;
	font-size: 13px;
}

.productcard-img {
	width: 283px;
	height: 340px;
	margin-left: -12px;
	margin-top: -10px;
}



.add-to-cart-productid {
	background: #66d9aa;	
	border: none;
	padding: 5px 50px 5px 10px;
	cursor: pointer;	
	font-size: 23px;
	border-radius: 12px;
}

/*P R O D U C T  V I E W  */

.productid-view{
	margin-right: 100px;
}

.add-to-cart-productview-word {
	width: 50px;
	height: 50px;
	color: #e5e8e8;
}
.add-to-cart-productview-word:hover {
	width: 50px;
	height: 50px;
	text-decoration: none;
	color: #2d2e32;

}

.add-to-cart-productview{

	color: #e5e8e8;
	background: none;
	/*border: 2px solid #2d2e32;*/
	border: 1px solid #e5e8e8;
	border-radius: 50%;
	padding: 1px 7px 1px 7px;
	cursor: pointer;
	font-weight: 300;
	float: right;
	font-size: 15px;
	float: right;
	margin-right: -20px;
}

.add-to-cart-productview:hover {
	color: #2d2e32;
	text-decoration: none;
	border-color: #2d2e32;
}

.productid-text{
	margin-right: 100px;
	margin-top: 300px;
}


.productid-img{
	width: 600px;
}


.alert {
	border: none;
}
.alert-warning {
	font-size: 16px;
	color: #6a6f72;
	background-color: #fff;
	margin-bottom: 0px;
}



/* L A S T  C H E C K O U T  V I E W  */

.checkout-wrapper {
	margin-top: 100px;
}

.form-wrapper{
	margin-top: 75px;

}

.checkout-order-right{
	
}

.userinfo-form {
	width: 100%;
	margin: 5px 10px 5px 10px;
	padding: 7px 30px 3px 30px;
	font-size: 20px;
	border-radius: 10px;
	background: none;
	font-weight: 400;
	color: #2d2e32;
	border: 1px solid #c8edf2;
	letter-spacing: 2px;
}

.shippinginfo-form {
	width: 100%;
	margin: 5px 10px 5px 10px;
	padding: 7px 30px 3px 30px;
	font-size: 20px;
	border-radius: 10px;
	background: none;
	font-weight: 300;
	color: #2d2e32;
	border: 1px solid #c8edf2;
	letter-spacing: 2px;
}

.billinginfo-form {
	width: 100%;
	margin: 5px 0px 5px 0px;
	padding: 7px 25px 3px 25px;
	font-size: 20px;
	border-radius: 10px;
	background: none;
	font-weight: 300;
	color: #2d2e32;
	border: 1px solid #c8edf2;
	letter-spacing: 2px;
}

.checkout-lastcart{
	font-size: 20px;
}

.checkout-login {
  background: #434653;
  border: none;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #f1f2f2;
  text-align: center;
  font-size: 30px;
}


.checkout-signup {
  background: #7dd0e3;
  border: none;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #f1f2f2;
  text-align: center;
  font-size: 30px;
}

.checkout-submit-payment{
   margin-top: 30px;
   margin-left: 13px;
  background: #434653;
  border: none;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #f1f2f2;
  text-align: center;
  font-size: 23px;
}

footer {
	background: #222326;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
}